<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Ścieżka do importu -->
    <add key="importPath" value="C:\BTApp\Import" />
    <!-- Ścieżka do eksportu -->
    <add key="exportPath" value="C:\BTApp\Export" />
    <!-- Nazwa szukanego pliku wraz z rozszerzeniem -->
    <add key="fileName" value="wyslij.txt" />
    <!-- Adres IP sterownika PLC - nie zmieniać !!! -->
    <add key="plcIPAddress" value="10.8.30.10" />
    <!-- Maksymalny czas połączenia ze sterownikiem PLC [ms] -->
    <add key="plcConnectionTimout" value="100" />
    <!-- Częstotliwość odświeżania danych [ms] -->
    <add key="plcRefreshRate" value="1" />
    <!-- Tryb debugowania - nie włączać !!! -->
    <add key="debug" value="true" />
    <!-- Czas ponownej próby przeniesienia pliku do folderu exportu [s] -->
    <add key="moveFileRetryTime" value="5" />
    <!-- Ilość rekordów receptur w panelu HMI - nie zmieniać !!! -->
    <add key="gotRecordsNum" value="20" />
    <!-- Nazwa receptury w panelu HMI - nie zmieniać !!! -->
    <add key="gotRecipeName" value="Zlecenie" />
    <!-- ID receptury w panelu HMI - nie zmieniać !!! -->
    <add key="gotRecipeID" value="1" />
    <!-- Rozszerzenie receptury w panelu HMI - nie zmieniać !!! -->
    <add key="gotRecordExtension" value=".CSV" />
    <!-- Adres IP panelu HMI - nie zmieniać !!! -->
    <add key="gotIPAddress" value="10.8.30.7" />
    <!-- Port serwera FTP panelu HMI - nie zmieniać !!! -->
    <add key="gotFTPPort" value="21" />
    <!-- Szablon nazwy pliku receptury w panelu HMI - nie zmieniać !!! -->
    <add key="gotRecipeFileNameTemplate" value="ARP00001_" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <!--Scieżka bibliotek-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
</configuration>