<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Ścieżka do importu -->
    <add key="importPath" value="C:\BTApp\Import" />
    <!-- Ścieżka do eksportu -->
    <add key="exportPath" value="C:\BTApp\Export" />
    <!-- Nazwa szukanego pliku wraz z rozszerzeniem -->
    <add key="fileName" value="wyslij.txt" />
    <!-- Adres IP sterownika PLC - nie zmieniać !!! default 10.8.30.10 -->
    <add key="plcIPAddress" value="192.168.0.250" />
	<!-- Hasło do komunikacji z PLC -->
	<add key="plcPassword" value="Er55" />
    <!-- Maksymalny czas połączenia ze sterownikiem PLC [ms] -->
    <add key="plcConnectionTimeout" value="100" />
    <!-- Częstotliwość odświeżania danych [ms] -->
    <add key="plcRefreshRate" value="1000" />
    <!-- Tryb debugowania - nie włączać !!! -->
    <add key="debug" value="true" />
    <!-- Czas ponownej próby przeniesienia pliku do folderu exportu [s] -->
    <add key="moveFileRetryTime" value="5" />
    <!-- Ilość rekordów receptur w panelu HMI - nie zmieniać !!! -->
    <add key="gotRecordsNum" value="20" />
    <!-- Nazwa receptury w panelu HMI - nie zmieniać !!! -->
    <add key="gotRecipeName" value="Zlecenie" />
    <!-- ID receptury w panelu HMI - nie zmieniać !!! -->
    <add key="gotRecipeID" value="1" />
    <!-- Rozszerzenie receptury w panelu HMI - nie zmieniać !!! -->
    <add key="gotRecordExtension" value=".CSV" />
    <!-- Adres IP panelu HMI - nie zmieniać !!! -->
    <add key="gotIPAddress" value="10.8.30.7" />
    <!-- Port serwera FTP panelu HMI - nie zmieniać !!! -->
    <add key="gotFTPPort" value="21" />
    <!-- Szablon nazwy pliku receptury w panelu HMI - nie zmieniać !!! -->
    <add key="gotRecipeFileNameTemplate" value="ARP00001_" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <!--Scieżka bibliotek-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.1395" newVersion="2.0.7.1395" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.1395" newVersion="2.0.7.1395" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.provider.dynamic_cdecl" publicKeyToken="b68184102cba0b3b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.1603" newVersion="2.1.0.1603" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>